*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.agent
/study
/backend/.env
/backend/chroma_db/chroma.sqlite3
/backend/chroma_db/
/chroma_db/chroma.sqlite3
/.superpowers